# Ignorar todo por defecto en la raíz
/*

# Permitir el propio archivo .gitignore
!.gitignore

# Permitir index.html y README.md
!index.html
!README.md
!readme.md

# Permitir el directorio design y todo su contenido
!design/
!design/**
